___
# Ciência dos Dados - PROJETO 1

## ANTONIO JOAO ANDRAUES JUNIOR
___

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Análise e Resultados

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\andra_000\Documents\GitHub\CD17\Projeto1

In [4]:
#Se usar o arquivo descompactado
#pd.read_csv('DOM2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [5]:
dados = pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [13]:
dados.head()

,Unnamed: 0,V0101,UF,V0102,V0103,V0104,V0105,V0106,V0201,V0202,...,V4611,V4614,UPA,V4617,V4618,V4620,V4621,V4622,V4624,V9992
0,0,2015,11,15,1,1,1.0,1.0,1.0,4.0,...,270.0,800.0,191,110001,1,1.0,800.0,4.0,1.0,20161104
1,1,2015,11,15,2,6,NaN,NaN,NaN,NaN,...,NaN,NaN,191,110001,1,NaN,NaN,NaN,NaN,20161104
2,2,2015,11,15,3,1,1.0,1.0,1.0,4.0,...,270.0,1150.0,191,110001,1,1.0,1150.0,4.0,1.0,20161104
3,3,2015,11,15,4,1,6.0,4.0,1.0,2.0,...,270.0,4760.0,191,110001,1,6.0,793.0,4.0,2.0,20161104
4,4,2015,11,15,5,1,2.0,2.0,1.0,2.0,...,271.0,5800.0,191,110001,1,2.0,2900.0,6.0,2.0,20161104

___
## Conclusão

Descreva aqui suas conclusões!

In [117]:
dados.V02424 = dados.V02424.astype('category')

In [118]:
dados1 = pd.DataFrame({
    'Microcomputador':[dados.V0231],
    'Cel':[dados.V02324],
    'Tablet':[dados.V02325],
    'Acesso ao 3G e 4G':[dados.V02424],
    'Internet Banda larga':[dados.V02426],
    'Internet discada':[dados.V02425],
    'Renda Mensal domiciliar':[dados.V4621],
})

In [119]:
dados1

,Acesso ao 3G e 4G,Cel,Internet Banda larga,Internet discada,Microcomputador,Renda Mensal domiciliar,Tablet
0,0 NaN 1 NaN 2 2.0 3 ...,0 NaN 1 NaN 2 4.0 3 ...,0 NaN 1 NaN 2 2.0 3 ...,0 NaN 1 NaN 2 4.0 3 ...,0 3.0 1 NaN 2 1.0 3 ...,0 8.000000e+02 1 NaN ...,0 NaN 1 NaN 2 4.0 3 ...

# SEGUNDA TENTATIVA!

In [120]:
dados2=dados.loc[:,['V0231','V02324','V02325','V02424','V02426','V02425','V4621']]

In [125]:
dados2=dados2.rename(columns={'V4621': 'Renda Mensal domiciliar'})

# RENOMEANDO AS COLUNAS

In [127]:
dados2=dados2.rename(columns={'V0231': 'Microcomputador'})
dados2=dados2.rename(columns={'V02324': 'Cel'})
dados2=dados2.rename(columns={'V02325': 'Tablet'})
dados2=dados2.rename(columns={'V02424': 'Acesso ao 3G e 4G'})
dados2=dados2.rename(columns={'V02426': 'Internet Banda larga'})
dados2=dados2.rename(columns={'V02425': 'Internet discada'})

In [132]:
dados2.head()

,Microcomputador,Cel,Tablet,Acesso ao 3G e 4G,Internet Banda larga,Internet discada,Renda Mensal domiciliar
0,3.0,NaN,NaN,NaN,NaN,NaN,800.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,4.0,4.0,2.0,2.0,4.0,1150.0
3,1.0,2.0,4.0,2.0,2.0,4.0,793.0
4,3.0,NaN,NaN,NaN,NaN,NaN,2900.0

# RENOMEANDO AS RESPOSTAS

In [145]:
dados2['Microcomputador']=dados2["Microcomputador"].astype('category')
dados2['Cel']=dados2["Cel"].astype('category')
dados2['Tablet']=dados2["Tablet"].astype('category')
dados2['Acesso ao 3G e 4G']=dados2["Acesso ao 3G e 4G"].astype('category')
dados2['Internet Banda larga']=dados2["Internet Banda larga"].astype('category')
dados2['Internet discada']=dados2["Internet discada"].astype('category')

In [146]:
dados2["Microcomputador"].cat.categories = ["Sim", "Não"]
dados2["Cel"].cat.categories = ["Sim", "Não"]
dados2["Tablet"].cat.categories = ["Sim", "Não"]
dados2["Acesso ao 3G e 4G"].cat.categories = ["Sim", "Não"]
dados2["Internet Banda larga"].cat.categories = ["Sim", "Não"]
dados2["Internet discada"].cat.categories = ["Sim", "Não"]

In [147]:
dados2.head()

,Microcomputador,Cel,Tablet,Acesso ao 3G e 4G,Internet Banda larga,Internet discada,Renda Mensal domiciliar
0,Não,NaN,NaN,NaN,NaN,NaN,800.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sim,Não,Não,Sim,Sim,Não,1150.0
3,Sim,Sim,Não,Sim,Sim,Não,793.0
4,Não,NaN,NaN,NaN,NaN,NaN,2900.0